development:
  adapter: postgresql
  encoding: unicode
  database: github_browser_db
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: github_browser_db
  pool: 5
  username:
  password:
